body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.welcome {
  background-color: #ddd;
  border-radius: 5px;
  padding: 1.67rem;
}

.welcome__divider {
  background-color: #999;
}

.fa-heart {
  color: #ec407a;
}